.container {
  background-color: gray;
  width: 400px;
  display: flex;
}

.box {
  height: 100px;
  width: 100px;
  color: #fff;
  margin: 20px;
  border: 1px solid yellow;
}

.blue {
  background-color: blue;
 }


.red{
  background-color: red;
 }
